<div
  class="modal fade"
  id="questions"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">English test</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/questions" method="POST">
          <h5>
            <span class="badge badge-secondary">PART 1:</span> Choose the best
            answer (A, B, C or D)
          </h5>
          <br />
          <h6>1. ________________, I will give him the report.</h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions1"
              class="form-check-input"
              id="exampleCheck1"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck1"
              >A. Until he will return</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions1"
              class="form-check-input"
              id="exampleCheck2"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck2"
              >B. When he will return</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions1"
              class="form-check-input"
              id="exampleCheck3"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck3"
              >C. When he returns</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions1"
              class="form-check-input"
              id="exampleCheck4"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck4"
              >D. No sooner he returns
            </label>
          </div>

          <br />
          <h6>
            2. The Association of Southeast Asia, which consists of 10 countries
            located in Southeast Asia, was ________ on August 8, 1967 by
            Indonesia, Malaysia, the Philippines, Singapore, and Thailand.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions2"
              class="form-check-input"
              id="exampleCheck5"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck5"
              >A. found
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions2"
              class="form-check-input"
              id="exampleCheck6"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck6"
              >B. founded</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions2"
              class="form-check-input"
              id="exampleCheck7"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck7"
              >C. discovered</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions2"
              class="form-check-input"
              id="exampleCheck8"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck8">D. find</label>
          </div>

          <br />
          <h6>
            3. You should go ________ the book because it has some information
            you need.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions3"
              class="form-check-input"
              id="exampleCheck9"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck9">A. by </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions3"
              class="form-check-input"
              id="exampleCheck10"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck10">B. over</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions3"
              class="form-check-input"
              id="exampleCheck11"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck11">C. on</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions3"
              class="form-check-input"
              id="exampleCheck12"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck12">D. off</label>
          </div>

          <br />
          <h6>
            4. ________ the firemen arrived to help, we had already put out the
            fire.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions4"
              class="form-check-input"
              id="exampleCheck13"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck13"
              >A. By the time
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions4"
              class="form-check-input"
              id="exampleCheck14"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck14"
              >B. No sooner</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions4"
              class="form-check-input"
              id="exampleCheck15"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck15"
              >C. Until</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions4"
              class="form-check-input"
              id="exampleCheck16"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck16"
              >D. After</label
            >
          </div>

          <br />
          <h6>
            5. Everything is ________ you at the moment. I can’t make ________
            my mind yet.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions5"
              class="form-check-input"
              id="exampleCheck17"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck17"
              >A. away from / for
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions5"
              class="form-check-input"
              id="exampleCheck18"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck18"
              >B. on for / off</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions5"
              class="form-check-input"
              id="exampleCheck19"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck19"
              >C. out off / from
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions5"
              class="form-check-input"
              id="exampleCheck20"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck20"
              >D. up to / up</label
            >
          </div>

          <br />
          <h6>6. The salary of a bus driver is much higher ________.</h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck21"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck21"
              >A. in comparison with the salary of a teacher</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck22"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck22"
              >B. than a teacher</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck23"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck23"
              >C. than that of a teacher</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck24"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck24"
              >D. to compare as a teacher</label
            >
          </div>

          <br />
          <h6>7. Farmers look forward to ________ every summer.</h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck25"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck25"
              >A. participating in the county fairs
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck26"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck26"
              >B. participate in the county fairs</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck27"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck27"
              >C. be participating in the county fairs</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions7"
              class="form-check-input"
              id="exampleCheck28"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck28"
              >D. have participated in the county fairs</label
            >
          </div>

          <br />
          <h6>
            8. Earl was one of the first American artists ________ landscapes.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions8"
              class="form-check-input"
              id="exampleCheck29"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck29"
              >A. painting
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions8"
              class="form-check-input"
              id="exampleCheck30"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck30"
              >B. painted</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions8"
              class="form-check-input"
              id="exampleCheck31"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck31">C. its</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions8"
              class="form-check-input"
              id="exampleCheck32"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck32">D. it</label>
          </div>

          <br />
          <h6>
            9. The crime rate has continued to rise in American cities despite
            efforts on the part of both government and private citizens to curb
            ________.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions9"
              class="form-check-input"
              id="exampleCheck33"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck33"
              >A. them
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions9"
              class="form-check-input"
              id="exampleCheck34"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck34">B. him</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions9"
              class="form-check-input"
              id="exampleCheck35"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck35">C. its</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions9"
              class="form-check-input"
              id="exampleCheck36"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck36">D. it</label>
          </div>

          <br />
          <h6>
            10. ________ his highly individual conceptions of music and chaos,
            John Cage became a leading figure in avant-garde music.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions10"
              class="form-check-input"
              id="exampleCheck37"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck37"
              >A. Such was
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions10"
              class="form-check-input"
              id="exampleCheck38"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck38"
              >B. Due to</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions10"
              class="form-check-input"
              id="exampleCheck39"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck39"
              >C. Because from</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions10"
              class="form-check-input"
              id="exampleCheck40"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck40">D. That</label>
          </div>
          <br />
          <h5>
            <span class="badge badge-secondary">PART 2:</span> Circle the words
            or phrases that need fixing
          </h5>
          <br />
          <h6>
            11. The man that wife and family are away seems very lonely.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions11"
              class="form-check-input"
              id="exampleCheck41"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck41"
              >A. that
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions11"
              class="form-check-input"
              id="exampleCheck42"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck42">B. and</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions11"
              class="form-check-input"
              id="exampleCheck43"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck43">C. are</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions11"
              class="form-check-input"
              id="exampleCheck44"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck44"
              >D. seems</label
            >
          </div>
          <br />
          <h6>
            12. Someone else put 49,999 dominoes in the line and knocking them
            all down.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions12"
              class="form-check-input"
              id="exampleCheck45"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck45"
              >A. else
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions12"
              class="form-check-input"
              id="exampleCheck46"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck46">B. in</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions12"
              class="form-check-input"
              id="exampleCheck47"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck47"
              >C. kncoking</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions12"
              class="form-check-input"
              id="exampleCheck48"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck48"
              >D. dowwn</label
            >
          </div>

          <br />
          <h6>
            13. The heavy rain made it possible for us to have our picnic.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions13"
              class="form-check-input"
              id="exampleCheck49"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck49"
              >A. heavy
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions13"
              class="form-check-input"
              id="exampleCheck50"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck50">B. it</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions13"
              class="form-check-input"
              id="exampleCheck51"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck51"
              >C. possible</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions13"
              class="form-check-input"
              id="exampleCheck52"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck52">D. to</label>
          </div>

          <br />
          <h6>
            14. May Day regularly is celebrated in many countries around the
            world.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions14"
              class="form-check-input"
              id="exampleCheck53"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck53"
              >A. regularly is
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions14"
              class="form-check-input"
              id="exampleCheck54"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck54"
              >B. celebrated</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions14"
              class="form-check-input"
              id="exampleCheck55"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck55">C. many</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions14"
              class="form-check-input"
              id="exampleCheck56"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck56"
              >D. around</label
            >
          </div>

          <br />
          <h6>
            15. It is many years for Mount Sesuvius last erupted.
          </h6>

          <div class="input-group form-check">
            <input
              type="radio"
              name="questions15"
              class="form-check-input"
              id="exampleCheck57"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck57">A. is </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions15"
              class="form-check-input"
              id="exampleCheck58"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck58"
              >B. years</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions15"
              class="form-check-input"
              id="exampleCheck59"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck59">C. for</label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions15"
              class="form-check-input"
              id="exampleCheck60"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck60">D. last</label>
          </div>

          <br />
          <h5>
            <span class="badge badge-secondary">PART 3:</span> Fill in the
            blanks with the correct form of the words
          </h5>
          <center><h5>THE ABC OF COOKING</h5></center>

          <h6>
            It’s a marvellous idea for children to do some cooking at an early
            age. Generally 16. ____________ (SPEAK), most children can’t wait to
            help in the kitchen and love getting involved in the 17.
            ____________ (PREPARE) of their meals. They should be 18.
            ____________ (COURAGE) to do so, and care should be taken to 19.
            ____________ (SURE) they enjoy the experience. Although the finished
            result may not be up to your standards, the young cook will
            undoubtedly find it quite the 20. ____________ (TASTY) food he or
            she has ever eaten.
          </h6>
          <br />
          <h6>16</h6>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions16"
              class="form-check-input"
              id="exampleCheck61"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck61"
              >A. Speak
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions16"
              class="form-check-input"
              id="exampleCheck62"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck62"
              >B. Speakes</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions16"
              class="form-check-input"
              id="exampleCheck63"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck63"
              >C. Speaking</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions16"
              class="form-check-input"
              id="exampleCheck64"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck64"
              >D. Speaked</label
            >
          </div>
          <br />
          <h6>17</h6>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions17"
              class="form-check-input"
              id="exampleCheck65"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck65"
              >A. prepares
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions17"
              class="form-check-input"
              id="exampleCheck66"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck66"
              >B. preparation
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions17"
              class="form-check-input"
              id="exampleCheck66"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck66"
              >C. to prepare
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions17"
              class="form-check-input"
              id="exampleCheck67"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck67"
              >D. preparing
            </label>
          </div>
          <br />
          <h6>18</h6>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions18"
              class="form-check-input"
              id="exampleCheck68"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck68"
              >A. encouraged
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions18"
              class="form-check-input"
              id="exampleCheck69"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck69"
              >B. engcourage
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions18"
              class="form-check-input"
              id="exampleCheck70"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck70"
              >C. couraged
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions18"
              class="form-check-input"
              id="exampleCheck71"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck71"
              >D. couraging
            </label>
          </div>
          <br />
          <h6>19</h6>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions19"
              class="form-check-input"
              id="exampleCheck72"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck72"
              >A. Sure
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions19"
              class="form-check-input"
              id="exampleCheck73"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck73"
              >B. to be sured</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions19"
              class="form-check-input"
              id="exampleCheck74"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck74"
              >C. ensure
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions19"
              class="form-check-input"
              id="exampleCheck75"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck75"
              >D. sured
            </label>
          </div>
          <br />
          <h6>20</h6>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions20"
              class="form-check-input"
              id="exampleCheck76"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck76"
              >A. tastying
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions20"
              class="form-check-input"
              id="exampleCheck77"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck77"
              >B. tastyed
            </label>
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions20"
              class="form-check-input"
              id="exampleCheck78"
              style="width: auto; margin-right: 5px;"
            />
            <label class="form-check-label" for="exampleCheck78"
              >C. to tasty</label
            >
          </div>
          <div class="input-group form-check">
            <input
              type="radio"
              name="questions20"
              class="form-check-input"
              id="exampleCheck79"
              style="width: auto; margin-right: 5px;"
              value="true"
            />
            <label class="form-check-label" for="exampleCheck79"
              >D. tasties
            </label>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
