<!-- modal-uni -->
<div class="modal-uni-wrapper select-univeristy">
  <div class="modal-uni">
    <div class="head">
      <a class="btn-close trigger" href="#">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <div class="content">
      <div class="good-job">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        <h1>Good Job!</h1>
        <!-- Split button -->
        <!-- <div class="dropdown">
          <button
            class="btn btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color: white;">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div> -->
        <form autocomplete="off" action="/set-university" method="POST">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Bạn đang học trường nào?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="university">
              <% universityMore.map(item => { %>
                <option value="<%- item.name %>"><%- item.name %></option>
              <% }) %>
            </select>
          </div>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
