<div
  class="modal fade"
  id="level1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Congratulations! You are able to participate in all activities of ENGLISH CAMP 2019.
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="level2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        OK, based on your result, we would suggest you to participate in these following actitivites: <br />
        •	Free English Proficiency Testing<br />
        •	Cultural Experiencing <br />
        •	Hurdle Race <br />
        •	Viet Nam history and geography information and online game booths<br />
        •	Vocabulary Contest<br />
        •	English Karaoke Contest<br />
        English Club Festival
      </div>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="level3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are at "Basic level". Don't worry, come to ENGLISH CAMP 2019 and participate in the following activities:<br />
        •	Free English Proficiency Testing<br />
        •	Cultural Experiencing <br />
        •	Hurdle Race
      </div>
    </div>
  </div>
</div>
